{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} {% if get_flashed_messages() %}
<section class="space-y-5 mb-10">
  {% for message in get_flashed_messages() %}
  <div class="p-5 rounded-lg bg-slate-50/[0.06]">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}
<section class="space-y-5 flex flex-col mb-10">
  <h2 class="text-2xl font-bold text-white">Login</h2>
  <form method="POST" class="space-y-5">
    {{form.hidden_tag() }}
    <div class="space-y-3">
      {{form.email.label(class = "text-white font-bold") }} {{form.email(
      class="bg-slate-50/[0.06] rounded-lg w-full p-3 text-slate-400",
      placeholder="Email")}}
    </div>
    <div class="space-y-3">
      {{form.password.label(class = "text-white font-bold") }} {{form.password(
      class="bg-slate-50/[0.06] rounded-lg w-full p-3 text-slate-400",
      placeholder="Password" )}}
    </div>
    {{form.submit(class = "bg-blue-600 text-white w-full rounded-lg p-3")}}
  </form>
  <a href="/register/">
    <p class="text-center">Register</p>
  </a>
</section>
{% endblock %}
